
.DS_Store
Penny/Penny.xcodeproj/project.xcworkspace/xcuserdata/user207260.xcuserdatad/UserInterfaceState.xcuserstate
Penny/Penny.xcodeproj/xcuserdata/user207260.xcuserdatad/xcschemes/xcschememanagement.plist
